.main_container{
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    
    align-items: center;
    
    }
    
    .header{ display: flex;
        margin-right:50px ;
        justify-content: flex-end;
        width: 100%;
        height: 100px; 
        align-items: center;
    }
    
    .button{
        display: flex;
        width: 100px;
        height: 55px;
        border-radius: 20px;
        background-color: #CECECE;
        font-size: 24px;
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .button:hover{
        cursor: pointer;
        background-color: #9e9e9e;
    }
    
    /*  seccion hero */
    
    .hero{
    
        display: flex;
        width: 100%;
        height: 750px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    
    }
    
    .mishellin{
        width: auto;
        height: 250px;
        border-radius: 100%;
    }
    
    
    .name {
        position: absolute;
        top:50px;
        right: 150px; 
        font-size: 80px;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
    }
    .age {
        position: absolute;
        top:180px;
        left: 150px; 
        font-size: 50px;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
    }
    .city {
        position: absolute;
        top:200px;
        right: 50px; 
        font-size: 40px;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .Presentiacion{
        font-size: 25px;
        width: 500px;
        height: auto;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    /*  redes */
    
    .redes{
    
        display: flex;
        width: 60%;
        height: auto;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .card_social{
        margin: 25px;
        padding: 24px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        width: 300px;
        height: auto;
        border: 1px black solid;
    }
    
    .icon_social{
        width: 100px;
    }
    .text_social{
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
        width: 160px;
        text-align: center;
    }
    
    /*  portafolio */
    
    .porfolio-container{
    
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .project-card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:20px 0 20px 0;
        border-bottom: 1px solid #ccc;
    }
    
    .project-info{
        flex: 1;
    }
    
    .project-info h3{
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 10px;
    }
    
    .project-info p{
        font-size: 0.95em;
        margin-bottom: 10px;
        color: #666; 
    }
    
    .project-info a {
        font-size: 0.9em;
        color: #333;
        text-decoration: none;
    }
    
    .project-info a:hover {
        text-decoration: underline;
    }
    
    .project-image img {
        width: 500px;
        height: auto;
        border-radius: 8px;
        background-color: #e9e9e9;
    }
    
     /*  Footer */
    
    .Footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    }