.header{
    border: 20px: #773737;
    display: flex;
    margin-right: 55px;
    justify-content: flex-end;
    height: 150vh;
    width: 100%;
    align-items: center;
    flex-direction:column; 
}

.button{
    display: flex;
    width: 100px;
    height: 55px;
    border-radius: 20px;
    background-color: #CECECE;
    font-size: 24px;
    font-family:Inter;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.button:hover{
    cursor: pointer;
    background-color:#773737;
}

/* hero section*/

.hero{
    background-color: aqua;
    display: flex;
    width: 100px;
    height: 55px;
}

img {
    width: 300px;
    height: 300px;
}

p{
    display: flex;
    font-size: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}